#dark {
  .ant-notification-notice-wrapper {
    background: #042033;
    border-radius: 12px;
  }
}

#light {
  .ant-notification-notice-wrapper {
    background: #fff;
    border-radius: 12px;
  }
}