@font-face {
  font-family: PangMenZhengDao;
  src: url('./assets/fonts/PangMenZhengDao.ttf');
}

@font-face {
  font-family: Inter;
  src: url('./assets/fonts/Inter-Regular.ttf');
}


#dark .ant-message-notice-content {
  background-color: #042033 !important;
  color: #fff;
}

#light .ant-message-notice-content {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.88);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Inter', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, 
dl, dt, dd, ul, ol, li, 
pre, 
fieldset, lengend, button, input, textarea, 
th, td { 
    margin: 0;
    padding: 0;
}


body,
button, input, select, textarea { 
    
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; 
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } 
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } 
small { font-size: 12px; } 


ul, ol { list-style: none; }


a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { 
border-bottom: 1px dotted;
cursor: help;
}

q:before, q:after { content: ''; }


legend { color: #000; } 
fieldset, img { border: none; } 

button, input, select, textarea {
    font-size: 100%; 
}


table {
border-collapse: collapse;
border-spacing: 0;
}


hr {
    border: none;
    height: 1px;
}

* {
  scrollbar-width: none;
}

::-webkit-scrollbar{
  width: 12px;
  display: none;
}
::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  /* background: ${(props) => props.isdark === 'dark' ? '#062E4B' : '#FFF'}; */
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #333;
}
::-webkit-scrollbar-corner{
  background: rgba(0, 0, 0, 0);
}